extends layout

block content
  h1 Massachusetts Education info portal
  
  div.row
    div.col-sm-12
      p Enter the name of the school in the box below, and we'll see if we have anything on it:
      form.form-horizontal(role="form")
        div.form-group
          div.col-xs-12.col-sm-4(id="schoolsTypeahead")
            input.form-control.typeahead(id="inputSchool",placeholder="Loading school list...",type="text")
          div.col-xs-12.col-sm-8
  div.col-md-3