extends layout

block content
  

  div.col-sm-12    
    form.form-horizontal(role="form")
      div.form-group
        div.row(style="margin-bottom: 10px;")
          div.col-xs-12.col-sm-3
          div.col-xs-12.col-sm-6
            h1 Visualizations
            p Enter the name of the school in the box below to access visualizations of its data:
          div.col-xs-12.col-sm-3
        div.row
          div.col-xs-12.col-sm-3
          div.col-xs-12.col-sm-6(id="schoolsTypeahead")          
            input.form-control.typeahead(id="inputSchool",placeholder="Loading school list..."
              ,type="text",style="margin-bottom:5px;")
          div.col-xs-12.col-sm-3
        div.row
          div.col-xs-12.col-sm-3
          div.col-xs-12.col-sm-6(id="resultsDiv")
          div.col-xs-12.col-sm-3
        div.row
          div.col-xs-12(id="vizDiv")

  != js('application')
  != js('viz')
  != js('viz_class_by_race')