extends layout

block content
  h1 Massachusetts Education info portal
  p.lead
    | This website is under construction... come back later!
    br
    | You can check out our public data API at http://api.massedu.info, documented at http://github.com/davidlago/mass-edu-data-challenge.